
.photo-grid {
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(4, 22.1875%);
  grid-template-rows: repeat(3, auto);
  justify-content: center;

  gap: 16px;
  margin: 0 auto 0;
  padding: 92px 0 0 0;
}




@media screen and (max-width: 1024px) {
.photo-grid{
  max-width: 1024px;
  grid-template-columns: repeat(3, 29.296875%);
  grid-template-rows: repeat(4, auto);
  gap: 14px;

}
}

@media screen and (max-width: 768px) {
  .photo-grid{
    max-width: 768px;
    grid-template-columns: repeat(2, 45.83%);
    grid-template-rows: repeat(6, auto);
    gap: 16px;
    padding: 88px 0 0 0;
  }
  }

  @media screen and (max-width: 320px) {
    .photo-grid{
      max-width: 320px;
      grid-template-columns: repeat(1,90%);
      grid-template-rows: repeat(12, 216px);
      gap: 12px;
      padding: 67px 0 0 0;
    }
    }
