.intro__list{
  list-style-type: none;
  padding: 0;
  align-self: start;
  font-size: 12px;
  line-height: 18px;
  margin: 33px auto 0 148px;
  max-width: 690px;
}

.intro__list-item{
  max-width: 690px;
}
