.video{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 102px auto 0 auto;
    max-width: 1280px;
    width: 100%;
    color: white;

}