.header__logo{
  padding: 28px 0 0 48px;
  max-width: 176px;
  max-height: 52px;
}


@media screen and (max-width: 1024px){
  .header__logo{
    padding: 28px 0 0 48px;
  }
}
@media screen and (max-width: 768px){
  .header__logo{
    padding: 28px 0 0 25px;

  }
}

@media screen and (max-width: 320px){
  .header__logo{
    max-width: 44.375vw;
    max-height: 42px;
    padding: 15px 0 0 16px;
  }
}
