.footer__mobile{
  padding: 0 16px 32px 0;
}

@media screen and (max-width: 320px){
  .footer__mobile{
    max-width: 58.125vw;
  }

}
@media screen and (max-width: 768px){
  .footer__mobile{
    padding: 0px 19px 24px 0;
  }
}


