.header__lang-link{
color: #FFFFFF;
text-decoration: none;
cursor: pointer;

}
.header__lang-link:hover{
  text-decoration: underline;
  color: #FFFFFF;
}

.header__lang-link:nth-of-type(1) {
  margin-right: 16px;
}
.header__lang-link:active {
  text-decoration: underline;

}
