.cover {
  max-width: 1280px;

  width:92.5vw;
  margin: 8px auto 93px auto;
}


@media screen and (max-width:1024px) {
  .cover{
    max-width: 1024px;

    width:100%;
  }
}

@media screen and (max-width:768px) {
  .cover{
    max-width: 768px;

    width:100%;
    margin: 8px auto 89px auto;
  }
}

@media screen and (max-width:320px) {
  .cover{
    max-width: 320px;

    width:100%;
    margin: 66px auto 57px auto;
}
  }






