.lead__caption{

  height: 14px;
  margin: 7px 0 0 0;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: 0.15em;
  align-self: start;
  text-transform: uppercase;
  padding: 0 0 0 0;
}

@media screen and (max-width: 320px) {
  .lead__title{
    width:288px;
    height: 88px;
    margin: 48px auto 16px;
    font-size: 40px;
    line-height: 44px;
  }
}





