.place__paragraph{
  margin: 0 0 26px 0;
  padding: 0;
  font-size: 18px;
  line-height: 163%;
  width: 100%;
  max-width: 484px;
}
.place__paragraph:last-child{
  margin: 0px 0 0px 0px;
}
@media screen and (max-width:1024px) {
.place__paragraph{
  max-width: 456px;
  width:100%;
 }
}

@media screen and (max-width:768px){
  .place__paragraph{
    max-width: 352px;
    width:calc((352/768)*100vw) ;
    font-size: 16px;
    line-height: 163%;
    margin: 0px 0 25px 0px;
  }

}

@media screen and (max-width:768px){
  .place__paragraph{
    max-width: 288px;
    width: 100%;
    font-size: 16px;
    line-height: 163%;
    margin: 0px 0 0px 0px;
    padding: 0px 0px 25px 11px;
  }

}

