.intro__title {
  max-width: 690px;
  margin: 0 0 40px 0;
  font-size: 54px; /*? 4.218vw - 1280px*/
  font-weight: 900;
  line-height: 58px;/*? 4.53125vw - 1280px*/

}
@media screen and (max-width:768px){
  .intro__title{
    max-width: 720px;
    width: 100%;
  }
}

@media screen and (max-width:320px){
  .intro__title{
    max-width: 288px;
    width: 100%;
    font-size: 32px;
    line-height: 109%;
    margin: 0 0 0 0;
  }
}

